/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    --transition-delay: 1s;
    --background-color: #202124;
    --text-color: #f5f5f5f0;
    height: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    transition: 1s;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

body.light {
    --background-color: #f5f5f5f0;
    --text-color: #202124;
}

header{
    width: 100%;
    bottom: 0;
    left: 0;
}

.nav-link{
    color: var(--text-color);
}

button {
    border: none;
    outline: none;
}

.theme-toggle-container{
    --rotation: 0;
    position:absolute;
    top: 0;
    transition: 1s;
}
.theme-toggle-btn {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: .8em;
    border: none;
    outline: none;
    background-color: var(--background-color);
    transition:1s;
}
.sun,
.moon {
    border-radius: .8em;
    color: var(--text-color);
}

.moon{
    display: none;
}

.profile-picture {
    margin-top: 30%;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.title {
    margin-top: 40%;
    font-family: 'Noto Sans Mono', serif;
    font-size: 60px;
}

.subtitle {
    font-family: 'Noto Sans Mono', serif;
    font-weight: 500;
    font-size: 35px;
}

.grid{
    display: grid;
    gap: 1.5rem;
}